{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}User Registration{% endblock %}
{% block heading %}Registration Page{% endblock %}
{% block content %}
    <div class="content-section">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{form | crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" href="/register/login">Sign Up</button>
            </div>
        </form>
        <div class="border=top pt-3">
            <small class="text-muted">
                Already Have An Account?<a class="ml-2" href="{% url 'login' %}"> log in</a>
            </small>
        </div>
    </div>
{% endblock content %}